<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtxln.mapper.AgentBasicsDataMapper">

  <select id="listPageAgentBasicsDataOneDay" resultType="com.qtxln.model.entity.AgentBasicsData">
    SELECT
      sga.id,
      sga.agent_name,
      sg.skill_group_name,
      SUM(CASE asr.agent_state WHEN 'not_ready' THEN asr.duration ELSE 0 END ) total_break_time,
      MAX(CASE asr.agent_state WHEN 'not_ready' THEN asr.duration ELSE 0 END ) max_break_time,
      SUM(CASE asr.agent_state WHEN 'ready' THEN asr.duration ELSE 0 END ) total_ready_time,
      MAX(CASE asr.agent_state WHEN 'ready' THEN asr.duration ELSE 0 END ) max_ready_time,
      SUM(CASE asr.agent_state WHEN 'ringing' THEN asr.duration ELSE 0 END ) total_ring_time,
      MAX(CASE asr.agent_state WHEN 'ringing' THEN asr.duration ELSE 0 END ) max_ring_time,
      SUM(CASE asr.agent_state WHEN 'in_call' THEN asr.duration ELSE 0 END ) total_talk_time,
      MAX(CASE asr.agent_state WHEN 'in_call' THEN asr.duration ELSE 0 END ) max_talk_time,
      COUNT(CASE asr.agent_state WHEN 'not_ready' THEN 1 ELSE NULL END ) break_count,
      COUNT(CASE asr.agent_state WHEN 'ready' THEN 1 ELSE NULL END ) ready_count,
      COUNT(CASE asr.agent_state WHEN 'ringing' THEN 1 ELSE NULL END ) ring_count,
      COUNT(CASE asr.agent_state WHEN 'in_call' THEN 1 ELSE NULL END ) total_calls
    FROM
      call_center_skill_group_agent sga
      LEFT JOIN call_center_skill_group sg ON sga.skill_group_id = sg.id
      LEFT JOIN agent_state_record asr ON sga.id = asr.agent_id
      WHERE TO_DAYS(asr.create_time) = TO_DAYS(NOW())
      <if test="AgentBasicsDataBO.agentName != null">
        AND sga.agent_name like CONCAT('%', #{AgentBasicsDataBO.agentName},'%')
      </if>
      <if test="AgentBasicsDataBO.skillGroupId != null">
        AND sga.skill_group_id = #{AgentBasicsDataBO.skillGroupId}
      </if>
    GROUP BY
      sga.agent_name
  </select>

</mapper>